In [97]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

In [98]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [99]:
words_big = []

words_big = [w.upper() for w in words]
print(words_big)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

In [100]:
for i, w in enumerate(words):
    print(i)
    print(w)
    break

0
play

In [101]:
[x ** 2 for x in range(1, 11)] #crear una lista del 1 al 10 al cuadrado

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [103]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [104]:
#equivalente al siguiente ejercicio
for i in range (1, 31):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30

In [105]:
#crea una lista que los numeros sean multiplos de 5 entre el 0 al 100

[i for i in range(1,101) if i % 5 == 0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [106]:
[1 for _ in range(20)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [107]:
word = "labs"

In [108]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [109]:
word_type = []
if len(words) > 5:
    word_type = "long"
else:
    word_type = "sort"
    print(word_type)

In [110]:
word_type = "long" if len(word) > 5 else "short"

In [111]:
age = 22

In [112]:
mayor = (age > 18)

In [113]:
mayor

True

In [114]:
mayor = "si" if age > 18 else "no"

In [115]:
mayor

'si'

In [116]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [117]:
# lista con short y long
types = []


for w in words:
    w_type = "long" if len(w) > 5 else "short"
    print(w_type)
    types.append(w_type)

short
long
short
long
long
short
short
short
short
long

In [118]:
"long" if len(w > 5 for w in words

SyntaxError: unexpected EOF while parsing (<ipython-input-118-8b762820d37d>, line 1)

crea una lista que contenga los numeros divisibles por 2 en un rango de 20

In [119]:
[i ** 2 for i in range(20) if i % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

crea una lista que contenga los numeros divisibles por 2 y 5 en un rango de 100

In [120]:
[i for i in range(101) if (i % 2 == 0 and i % 5 == 0)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [121]:
# crea una

In [122]:
countries = ["Brasil", "Morocco", "New Zealand"]
friends = ["Alice", "Bob", "Eve", "John"]

In [123]:
pairs = []
for c in countries:
    
    for f in friends:
        pairs.append(f"{f} loves {c})

SyntaxError: EOL while scanning string literal (<ipython-input-123-736704fcb20f>, line 5)

In [124]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [125]:
word_lenghts = dict()
#

In [126]:
for w in words:
    word_lenghts[w] = len(w)

In [127]:
word_lenghts

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

In [128]:
person = {
    "name": "Leticia",
    "surname": "sobrino"
}

In [129]:
ages = {
    "Alice": 24,
    "Bob": 28,
    "Eve": 34,
    "John": 19
}

In [130]:
for a in ages.keys():
    print(a)

Alice
Bob
Eve
John

In [131]:
for b in ages.values():
    print(b)

24
28
34
19

In [132]:
for key, value in ages.items():
    print(key, value)

Alice 24
Bob 28
Eve 34
John 19

In [136]:
ages

19

In [133]:
new_ages = {}

for name, ages in ages.items():
    new_ages[name] = age + 5

In [134]:
new_ages

{'Alice': 27, 'Bob': 27, 'Eve': 27, 'John': 27}

In [135]:
{name: ages + 5 for name, age in ages.items()}

AttributeError: 'int' object has no attribute 'items'

In [137]:
codes = ["es-91", "en-88", "en-43", "fr-12", "it-33", "es-15", "fr-55", "es-66"]

In [138]:
countries = [code[:2] for code in codes]

In [139]:
countries

['es', 'en', 'en', 'fr', 'it', 'es', 'fr', 'es']

In [140]:
countries_set = set(countries)

In [141]:
countries_set

{'en', 'es', 'fr', 'it'}

In [ ]:
# expresion equivalente

In [142]:
countries_set = {code.split("-")[0] for code in codes}

In [143]:
countries_set

{'en', 'es', 'fr', 'it'}