In [32]:
print("Hola Mundo")

Hola Mundo

In [55]:
len("table")

5

In [34]:
import math

In [35]:
math.log10(1000)

3.0

In [58]:
import random

In [61]:
random.uniform(0, 1)

0.7186198473588309

MOTIVATION

Example: I am given a list of birth years. I want to compute average age.

In [38]:
years = [1964, 1968, 1972, 1987, 1995, 1996, 1980, 1984, 1973, 1982, 1955, 1983]

In [39]:
ages = [2020 - year for year in years]

In [40]:
ages

[56, 52, 48, 33, 25, 24, 40, 36, 47, 38, 65, 37]

In [41]:
age_sum = sum(ages)

In [42]:
n_people = len(ages)

In [43]:
age_mean = age_sum / n_people

In [62]:
age_mean

41.75

In [44]:
# a lot of code for ONE functionality, let's join everything in a function

In [65]:
from datetime import datetime

In [67]:
datetime.today()

datetime.datetime(2020, 10, 22, 9, 26, 25, 153682)

In [68]:
datetime.today().year

2020

In [45]:
def get_average_age(birth_years):
    # current year
    this_year = datetime.today().year 
    Example: I am given a list of birth years. I want to compute average age.
    ages = [this_year - year for year in birth_years]
    
    # compute average
    age_sum = sum(ages)
    n_people = len(ages)
    age_mean = age_sum / n_people
    
    return age_mean

In [69]:
type(get_average_age)

function

In [70]:
years

[1964, 1968, 1972, 1987, 1995, 1996, 1980, 1984, 1973, 1982, 1955, 1983]

In [71]:
get_average_age(years)

41.75

In [ ]:
get_average_age([2000, 2001])

Basic syntax and examples

In [ ]:
def square_number(x):

    return x ** 2

In [73]:
square_number(5)

25

In [74]:
a = 3

In [75]:
b = square_number(a)

In [77]:
b

9

A function can have no arguments

In [81]:
def say_hello():
    print("Hello!")

In [82]:
say_hello()

Hello!

In [83]:
def say_hello_2():
    return "Hello!"

In [84]:
say_hello_2()

'Hello!'

A function can have several arguments

In [ ]:
def get_full_name(name, surname):
    
    return name + " " + surname

In [85]:
get_full_name("Juan", "Mendez")

'Juan Mendez'

In [86]:
full_name = get_full_name("Juan", "Mendez")

In [87]:
full_name

'Juan Mendez'

In [ ]:
funcion que re4cina dos string y devuelva la mas larga de los dos

In [94]:
def long_word(string1, string2):
    
            if len(string1) > len(string2):
                return string1
            elif len(string1) < len(string2):
                return string2
            else:
                print("are equal")

In [96]:
long_word ("motorista", "coche")

'motorista'

In [ ]:
def suma(a: int):
    return a

In [ ]:
suma(3.4)

FUNCTION DOCUMENTATION

Code is written 1 time.

Code is read 100 times.

Help your peers understand your work.

In [ ]:
# EJEMPLO
def square_number(x):

In [99]:
# """ me deja poner comentarios en varia lineas
def square_number(x):
    """
    Computes square of a number
    Args:
        x (float): number to square
        
    Returns:
        float: number squared
    """
    return x ** 2

In [101]:
square_number(350)

122500

In [ ]:
def get_average_age(birth_years):
    """
    Compute average age of a list of birth years.
    Args:
        birth_years (list): list of integers
        
    Returns:
        float: average age
    """
    this_year = datetime.today().year
    
    ages = [this_year - year for year in birth_years]
    
    age_sum = sum(ages)
    n_people = len(ages)

    age_mean = age_sum / n_people
    
    return age_mean

DEFAULT ARGUMENTS

A function can have default arguments: no need to pass them when calling the function.

In [48]:
def repeat(phrase, n=2):
    """
    Repeats given phrase given a number of times.
    Args:
        phrase (str): phrase to repeat
        n (int): number of times to repeat. (Defaults to 2).
    
    Returns:
        None
    """
    for i in range(n):
        print(phrase)

In [49]:
repeat("hola")

hola
hola

In [50]:
repeat("hola", 4)

hola
hola
hola
hola

verbose default argument is very typical

In [51]:
def top_difference(numbers, verbose=False):
    """
    Computes the top difference between 2 numbers in a list.
    Args:
        numbers (list)
        verbose (bool): whether to print some information that might be helpful
    
    Returns:
        float: top difference
    """
    max_n = max(numbers)
    min_n = min(numbers)
    
    if verbose:
        print(f"Maximum was {max_n}, minimum was {min_n}")
    
    top_diff = max_n - min_n
    
    return top_diff

In [52]:
top_difference([27, 11, 65, 75, 54])

64

In [53]:
top_difference([27, 11, 65, 75, 54], verbose=True)

Maximum was 75, minimum was 11

64

6. args

In [103]:
def multiply_3_nums(a, b, c):
    return a * b * c

In [104]:
multiply_3_nums(1, 2, 3)

6

In [105]:
def multiply_4_nums(a, b, c, d):
    return a * b * c * d

In [108]:
def explore_args(*args): # el "*" me deja meter los argumentos que quiera
    print(args)
    print(type(args))

In [109]:
explore_args(1, 2, 3, "pepe")

(1, 2, 3, 'pepe')
<class 'tuple'>

In [111]:


def multiply_numbers(*numbers):
    print(type(numbers))
    
    product = 1
    
    for n in numbers:
        product = product * n
        print(product)
        
    return product

In [112]:
multiply_numbers(2, 3, 4, 5)

<class 'tuple'>
2
6
24
120

120

In [139]:
def multiply_numbers_and_add_a(a, *numbers):
    print(numbers)
    product = 1
    
    for n in numbers:
        product = product * n
        
        
    return product + a

In [140]:
multiply_numbers_and_add_a(7)

()

8

In [141]:
multiply_numbers_and_add_a(7, 1, 2, 3)

(1, 2, 3)

13

**kwargs: keyword args

In [143]:
def explore_kwargs(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [145]:
explore_kwargs(a, b)

TypeError: explore_kwargs() takes 0 positional arguments but 2 were given

In [146]:
explore_kwargs(a=5, b=6)

{'a': 5, 'b': 6}
<class 'dict'>

Type hints

Useful hints for your peers

Indicate what types you expect, what types you return.

If you don't include documentation (BAD), you can at least include type hints.

In [147]:


def laugh_sentence(text: str, yell: bool = False) -> str:
    laugh = text + ", hahahaha"
    
    if yell:
        return laugh.upper()
    else:
        return laugh

In [148]:
laugh_sentence("you are my friend")

'you are my friend, hahahaha'

In [149]:
laugh_sentence("you are my friend", yell=True)

'YOU ARE MY FRIEND, HAHAHAHA'

EXERCISES

A number is prime if it cannot be divided by anyone

9 is not prime, can be divided by 3

7 is prime

11 is prime

In [175]:
def is_prime(n):
        for num in range(2, n):
            if n % num != 0:
                print("num no es divisor de x, x puede ser primo")
            else:
                print("num es divisor de x, x no es primo")

In [176]:
is_prime(6)

num es divisor de x, x no es primo
num es divisor de x, x no es primo
num no es divisor de x, x puede ser primo
num no es divisor de x, x puede ser primo

In [ ]:
EXERCISE buid a function that returns the factorial of a number

In [180]:
def factorial(n: int) ->int:
    product = 1
    
    for i in range(1, n + 1):
        print(i)
        product = product * i
        print(product)
    return product

In [181]:
factorial(5)

1
1
2
2
3
6
4
24
5
120

120